@tailwind base;
@tailwind components;
@tailwind utilities;

input, button, input:focus, input:focus-visible {
    outline: none;
}

.content-block {
  background-color: #fff;
  border: 1px solid #DDE1E6;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

@keyframes accordionSlideDown {
    from { height: 0; }
    to   { height: var(--radix-collapsible-content-height); }
}
@keyframes accordionSlideUp {
    from { height: var(--radix-collapsible-content-height); }
    to   { height: 0; }
}

.animate-accordion-slideUp   { animation: accordionSlideUp   300ms cubic-bezier(0.87, 0, 0.13, 1); }
.animate-accordion-slideDown { animation: accordionSlideDown 300ms cubic-bezier(0.87, 0, 0.13, 1); }

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type="number"] {
  -moz-appearance: textfield;
}