@tailwind base;
@tailwind components;
@tailwind utilities;

input, button, input:focus, input:focus-visible {
    outline: none;
}

.content-block {
  background-color: #fff;
  border: 1px solid #DDE1E6;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
